################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules/@types
/PingPongBuildTrigger
/Extension/node_modules/@types
*.vsix
